<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152985028193-gpqntc3f6lusqr38l1a64mne2nefe2t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152985028193-gpqntc3f6lusqr38l1a64mne2nefe2t7</string>
	<key>API_KEY</key>
	<string>AIzaSyBCjIQMCKkaqkpRDPgrg7QYrrUIlPsCZXM</string>
	<key>GCM_SENDER_ID</key>
	<string>152985028193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.newscrypto.wallets</string>
	<key>PROJECT_ID</key>
	<string>wallet-85ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-85ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152985028193:ios:e0acedcf9fd3ffc59a0c20</string>
</dict>
</plist>